<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{resume.basics.name}}</title>
        <style>
            {{ css }}
        </style>
    </head>
    <body>
        <div>
            <p>Hello world!</p>
        </div>
    </body>
</html>
