<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{resume.basics.name}}</title>
        <link href="{{cssPath}}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div>
            <p class="bg-green-300">
                Hello world!
            </p>
        </div>
    </body>
</html>
